/* 
    Styling Page One
    1. Table
*/

/* Table */
.table > thead > tr > th {
    vertical-align: middle;
}
.table > thead > tr > th:nth-child(2){
    width: 7%;
}
.table .title{
    position: relative;
}
.table-responsive .sorter{
    float: right;
}
.table-responsive .sorter:hover{
    cursor: pointer;
}
/* END Table */